:root {
    --color-fill-light: #ffffff;
    --color-black: #181818;
    --color-primary: var(--color-teal-300);

    --color-gray-100: #F6F8FB;
    --color-gray-200: #DEE2EB;
    --color-gray-300: #EBECF0;
    --color-gray-400: #868D9A;
    --color-gray-500: #707680;
    --color-gray-600: #424242;
    --color-gray-700: #303233;
    --color-gray-800: #232323;
    --color-gray-900: #1E2121;

    --color-teal-300: #6EECD7;
    --color-teal-400: #26DEBF;
    --color-teal-600: #02967D;

    --color-background: #F6F8FB;

    --foreground: var(--color-dark);
    --background: var(--color-grey-100);
}
